@using Blog.DAL.Data
@model Article

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-4 my-item">
    <h2>@Html.DisplayFor(model => model.Heading)</h2>
    <p>@Html.DisplayFor(model => model.Text)</p>
    <p>@Html.DisplayFor(model => model.Publish)</p>
    <ul>
        @foreach (Tag t in Model.Tags)
        {
            <li><a href="~/Home/ShowArticleByTag/@t.Id">@t.Name</a></li>
        }
    </ul>
</div>